body {
    margin: 0;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

video, canvas {
    width: 100%;
    max-width: 800px;
}

#marquee {
    width: 100%;
    max-width: 800px;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

#pipBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9999;
}
