body {
    margin: 0;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    text-align: center;
}

h1 {
    margin-top: 50px;
    padding-bottom: 25px;
    border-bottom: 1px solid white;
}

#main-container {
    width: 100%;
    max-width: 800px;
    text-align: center;
}

.guide {
    width: 90%;
    margin: 10px auto 0;
    text-align: left;
}

button {
    color: white;
    border: none;
    border-radius: 8px;
    margin: 20px auto 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    transform: translateY(-2px);
}

button:active {
    transform: translateY(1px);
}

video {
    width: 90%;
    max-width: 800px;
    height: 100px;
    margin: 15px auto 10px;
}

canvas {
    display: none;
}

#telopInput {
    width: 88%;
    height: 30px;
    max-width: 777px;
    margin-top: 10px;
}

#updateTelopBtn {
    background-color: #ff3860;
}

#updateTelopBtn:hover {
    background-color: #ff1f4b;
}

#updateTelopBtn:active {
    background-color: #e6003e;
}

#telopPreview {
    width: 90%;
    text-align: center;
    margin: 10px auto 0;
}

#createTelopBtn {
    background-color: #2ecc71;
}

#createTelopBtn:hover {
    background-color: #27ae60;
}

#createTelopBtn:active {
    background-color: #219150;
}

.notes {
    width: 84%;
    margin: 10px auto;
    padding: 0 8%;
    text-align: left;
}

#pipBtn {
    background-color: #1e90ff;
}

#pipBtn:hover {
    background-color: #0d6efd;
}

#pipBtn:active {
    background-color: #0b5ed7;
}

.explain {
    width: 90%;
    margin: 10px auto 15px;
}

footer {
    width: 100%;
    margin: 25px 0 50px 0;
    padding-top: 25px;
    text-align: center;
    border-top: 1px solid white;
}

#x-logo {
    width: 24px;
    margin: 10px;
}
