body {
    margin: 0;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

video {
    width: 100%;
    max-width: 800px;
    height: 100px;
    margin-bottom: 10px;
}

canvas {
    display: none;
}

#marquee {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

/* #pipBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9999;
} */
